*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:hsl(205, 80%, 3%);
}
.three-btn{
    background: none;
    border: none;
    padding: 10px;
}
.three-btn span{
    display: block;
    width: 35px;
    height: 4px;
    margin-top: 6px;
    margin-left: 10px;
    background: white;
    border-radius: 2px;  
}
.nav-bar{
    display: flex;
    margin-top: 1rem;
}
.logo{
    color: white;
    margin-left: 2rem;
    font-family: "Georgia", serif;
    font-size: 2rem;
}
.comp{
    margin-left: 50px;
}
header h3{
    position: absolute;
    margin-right: 1.6rem;
    right: 0;
    top: 10px;
    color: white;
    font-size: 1.1rem;
    font-family: "Helvetica Neue", sans-serif;
}
nav{
    display: flex;
    margin-top: 3rem;
    margin-left: 5rem;
    gap: 3rem;
    color: white;
    font-size: 1.1rem;
    font-family: "Helvetica Neue", sans-serif;
}
#section-1{
    margin-top: 3rem;
    display: flex;
    margin-left: 5.5rem;
    margin-right: 5.5rem;
}
#div1{
    color: white;
    font-size: 34px;
}
#div1 span{
    margin-left: 180px;
}
#para{
    width: 600px;
    color:white;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 60px;
}
.main-2{
    display: grid;
    width: 800px;
    gap: 30px;
    grid-template-columns: repeat(2,1fr);
}
#article{
    background-image: url(/images/the20new20management20playbook20for20ai-thumb-1536x1536.webp);
    background-size: cover;
    background-position: center;
    height: 700px;
    width: 400px;
    align-content: end;
    color: white;
}
#article h6{
    font-weight: 100;
    padding: 20px;
    font-size: 30px;
}
#article p{
    font-size: 32px;
    font-weight: 700;
    padding: 20px;
}
#podcast{    
    background-image: url(/images/ed20conway20image-thumb-1536x1536vf.webp);
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 400px;
    align-content: end;
    color: white;
}
#podcast h6{
    font-size: 30px;
    font-weight:lighter;
    padding: 20px;
}
#podcast p{
    font-size: 32px;
    font-weight: 700;
    padding: 20px;
}
#survey{    
    background-image: url(/images/the-state-of-ai-2026-1322348212-thumb-1536x1536.webp);
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 400px;
    align-content: end;
    color: white;
}
#survey h6{
    font-size: 30px;
    font-weight:lighter;
    padding: 20px;
}
#survey p{
    font-size: 32px;
    font-weight: 700;
    padding: 20px;
}
#upcome{    
    background-image: url(/images/disruptor_tokenomics20opt20220bigger.webp);
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 400px;
    align-content: end;
    color: white;
}
#upcome h6{
    font-size: 30px;
    font-weight:lighter;
    padding: 20px;
}
#upcome p{
    font-size: 32px;
    font-weight: 700;
    padding: 20px;
}
#future{
    margin-top: 4rem;
}
#future h1{
    text-align: center;
    color: white;
    font-size: 30px;
}
#news{
    margin-top: 30px;
    background-image: url(/images/shortlist-newsletter-banner.webp);
    height: 500px;
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
    background-position: center;
}
.email{
    width: 450px;
    height: 50px;
    padding: 20px;
}
.sub-btn{
    font-size: 20px;
    width: 150px;
    height: 50px;
    padding: 20px;
}




#demo{
    margin-bottom: 20rem;
}